.mapContainer {
  height: 100%;
  width: 100%;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}

.mapContainer .leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0;
}
