.infoCard {
  flex: 1;
  border: 1px solid #dadcdd;
  border-radius: 5px;
}

.infoCard:not(:last-child) {
  margin-right: 10px;
}

.infoCard--selected {
  border-top: 5px solid #008000 ;
}
/*
.infoCard--red {
  border-color: #cc1034;
}*/

.infoCardCases--green {
  color: #008000 !important;
}

.infoCardCases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoCardTotal {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
